.img {
    width: 100px;
    height: 100px;
  }
  .btn-round{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: white;
    border: none;
  }
  .btn-round:hover{
    background-color: #0d6efd;
    color: white;
  }
  .activity{
    position: sticky;
    top: 0;
  }
